[Unit]
Description=Giant LED screen
After=multi-user.target
Wants=network.target network-online.target

[Service]
Type=idle
User=pi
ExecStart=/bin/sh /home/pi/run.sh

[Install]
WantedBy=multi-user.target
